<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8">
      <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">
  </head>
  <body>
  <div class="container">
  <div class="page-header">
     <h1>Tilt Data Output Demo</h1>
  </div>
  <div class="row">
     <div id="b1" class="col-md-4 outputpanel"></div>
     <div id="b2" class="col-md-4 outputpanel"></div>
     <div id="b3" class="col-md-4 outputpanel"></div>
  </div>
  <div class="row">
     <div id="b4" class="col-md-4 outputpanel"></div>
     <div id="b5" class="col-md-4 outputpanel"></div>
     <div id="b6" class="col-md-4 outputpanel"></div>
  </div>
  <div class="row">
     <div id="b7" class="col-md-4 outputpanel"></div>
     <div id="b8" class="col-md-4 outputpanel"></div>
     <div id="b9" class="col-md-4 outputpanel"></div>
  </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript">

    var panels = [];
    zero_counter = 0;
    min_ts = 0; 

    $(document).ready(function() {
        $.ajaxSetup({ cache: false });
        });

    function create_panel(dev_id,os){
        // Grab a list of output panel divs
        var elements = $('.outputpanel');
        var new_pane = 0;
    
        var panel_template =  '<div class="panel panel-default">' +
                              '<div class="panel-heading clearfix">' +
                              '<h4 class="panel-title pull-left"> Device ID: ' + dev_id +'</h4>' +
                              '<div class="panel-title pull-right">' + os + '</div></div>' +
                              '<div class="panel-body">' +
                              '<p>Left/Right Tilt: <span id="' + dev_id +'_TiltLR"></span></p>' +
                              '<p>Front/Back Tilt: <span id="' + dev_id +'_TiltFB"></span></p>' +
                              '<p>Direction: <span id="' + dev_id +'_Direction"></span></p>' +
                              '</div>' +
                              '</div>'

        // Locate the one with no childNodes (empty)
        for(var i=0; i<elements.length; i++) {
            if (elements[i].childNodes.length === 0) {
                new_pane = i;
                break
            }
        }

        // Create the panel in the identified pane
        elements[new_pane].innerHTML = panel_template;
        elements[new_pane].className = elements[new_pane].className + " " + dev_id;
        panels.push(dev_id);
        return;
    }

    function destroy_panel(dev_id){
        // Super easy with jQuery
        var element = $('.'+dev_id);
        element.empty();
        element.removeClass(dev_id);

        // Remove from our list of panels
        panels.splice($.inArray(dev_id,panels), 1);

        // Now we have to shuffle them all down 
        var elements = $('.outputpanel');
        for(var i=0; i<elements.length-1; i++) {
           if (elements[i].childNodes.length === 0) {
              // Copy the next element, and clear it
              elements[i].innerHTML = elements[i+1].innerHTML;
              elements[i].className = elements[i+1].className;
              elements[i+1].innerHTML = ""
           }
        }
    }

    function load_data() {
       $.getJSON('/safe_dump', { min_score: min_ts}, function(pos_data) {
           console.log(pos_data.timestamp);
           min_ts = pos_data.timestamp; 
           dev_ids_found = [];
           entries = pos_data.data
           if (entries.length > 1) {
               zero_counter = 0;
               // Split the entries into an array
               // We want to display just the latest entry from each device id we know
               dev_ids_found = [];
               for (var i=0; i<entries.length; i++) {
                   dev_data = entries[i].split(":");
                   if ($.inArray(dev_data[0],dev_ids_found) == -1) {
                       dev_ids_found.push(dev_data[0]);
                       if ($.inArray(dev_data[0],panels) == -1) {
                           create_panel(dev_data[0],dev_data[4]);
                       } 
                       $("#"+dev_data[0]+"_TiltLR").text(dev_data[1]);
                       $("#"+dev_data[0]+"_TiltFB").text(dev_data[2]);
                       $("#"+dev_data[0]+"_Direction").text(dev_data[3]);
                   }
               } 
           
               // Cross check our panels list and remove any that do not exist anymore
               for (var i=0; i<panels.length; i++) {
                   if ($.inArray(panels[i], dev_ids_found) == -1) {
                       destroy_panel(panels[i])
                   }
               }
           } else {
               zero_counter++;
               if (zero_counter > 5) {
                   for (var i=0; i<panels.length; i++) {
                       if ($.inArray(panels[i], dev_ids_found) == -1) {
                           destroy_panel(panels[i])
                       }
                   }
                   zero_counter=0;
               }
            }
        });
    } 
    load_data();
    setInterval(function(){
        load_data();
    }, 500);

</script> 
</body>
</html>
