<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8">
      <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">
      <style>  
         .container {
            -webkit-perspective: 300; perspective: 300;
         }

         .logo {
             width:275px;
             margin-left: auto;
             margin-right: auto;
             display: block;
             padding: 15px;
         }

         .pflogo {
             width:50px;
             display: block;
             float: left;
             margin-left: 5px;
         }

      </style>

  </head>
<body role="document">
  <div class="top">
      <section class="panel panel-default">
      <header class="panel-heading clearfix">
      <h3 id=devid class="panel-title pull-left" style="padding-top: 7.5px;">Device ID:&nbsp;&nbsp;</h3>
      <div class="input-group">
          <input class="form-control" type=text id="devid_val">
          <div class="input-group-btn">
              <button class="btn btn-primary" onclick="setDevID()">Set</button>
          </div>
      </div>
      </header>
          <div class="panel-body">
              <form class="form-horizontal" action="#">
              <div class="form-group col-md-3" style="margin: 5px;">
                  <label for="TiltLR" class="control-label">Roll</label><br>
                  <input class="form-control" type="text" name="TiltLR" id="TiltLR" />
              </div>
              <div class="form-group col-md-3" style="margin: 5px;">
                  <label for="TiltFB" class="control-label">Pitch</label><br>
                  <input class="form-control" type="text" name="TiltFB" id="TiltFB" />
              </div>
              <div class="form-group col-md-3" style="margin: 5px;">
                  <label for="Direction" class="control-label">Yaw</label><br>
                  <input class="form-control" type="text" name="Direction" id="Direction" />
              </div>
              </form>
         </div>
      </section>
  </div>

  <div class="container" style="-webkit-perspective: 300; perspective: 300;">
    <img src="{{ url_for('static', filename='EMC-Logo.png') }}" id="imgLogo" class="logo">
  </div>

  <div class="bottom">
    <img src="{{ url_for('static', filename='Pathfinder-Logo.png') }}" id="pfLogo" class="pflogo">
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript">
    init();
    var url = "/send";
    var dev_id;

    function guid() {
      function s4() {
         return Math.floor((1 + Math.random()) * 0x10000)
       .toString(16)
       .substring(1)
      }
      return s4() + '-' + s4()
    }

    function setDevID() {
        var newID =  document.getElementById("devid_val").value;
        sanitized_ID = newID.replace(/ /gi,'_');
        document.getElementById("devid_val").value = sanitized_ID
        console.log(newID + ":" + sanitizedID);
        dev_id = sanitized_ID;
    }

    function init() {
 
      dev_id = guid()
      document.getElementById("devid_val").value = dev_id

      var os = "";
      var ua = navigator.userAgent;
      if ((ua.match(/iPad/i)) || (ua.match(/iPhone/i)) || (ua.match(/iPod/i))) {
          os = "iOS";
      } else if (ua.match(/Android/i)) {
          os = "Android";
      } else {
          os = "Unknown";
      }

      update_count = 0;
      if (window.DeviceOrientationEvent) {
        // Listen for the deviceorientation event and handle the raw data
        window.addEventListener('deviceorientation', function(eventData) {
          // gamma is the left-to-right tilt in degrees, where right is positive
          var tiltLR = eventData.gamma;
          
          // beta is the front-to-back tilt in degrees, where front is positive
          var tiltFB = eventData.beta;
          
          // alpha is the compass direction the device is facing in degrees
          var dir = eventData.alpha
          
          // call our orientation event handler
          deviceOrientationHandler(tiltLR, tiltFB, dir, dev_id, os);
          }, false);
      } else {
        document.getElementById("doEvent").innerHTML = "Not supported on your device or browser.  Sorry."
      }
    }
  
    function deviceOrientationHandler(tiltLR, tiltFB, dir, dev_id, os) {
      document.getElementById("TiltLR").value = Math.round(tiltLR);
      document.getElementById("TiltFB").value = Math.round(tiltFB);
      document.getElementById("Direction").value = Math.round(dir);
     
      var position = {UUID: dev_id, TiltLR: tiltLR, TiltFB: tiltFB, Direction: dir, OS: os};

      // Apply the transform to the image
      var logo = document.getElementById("imgLogo");
      logo.style.webkitTransform = "rotate("+ tiltLR +"deg) rotate3d(1,0,0, "+ (tiltFB*-1)+"deg)";
      logo.style.MozTransform = "rotate("+ tiltLR +"deg)";
      logo.style.transform = "rotate("+ tiltLR +"deg) rotate3d(1,0,0, "+ (tiltFB*-1)+"deg)";

      update_count++;
      if (update_count == 5) {
          // Send our data to the server 
          $.ajax({
              type: "POST",
              url: url,
              data: position,
              }); 
          update_count = 0;
      }
    }
    
    
    // Some other fun rotations to try...
    //var rotation = "rotate3d(0,1,0, "+ (tiltLR*-1)+"deg) rotate3d(1,0,0, "+ (tiltFB*-1)+"deg)";
    //var rotation = "rotate("+ tiltLR +"deg) rotate3d(0,1,0, "+ (tiltLR*-1)+"deg) rotate3d(1,0,0, "+ (tiltFB*-1)+"deg)";
  </script>
  

</body>
</html>
