<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
      <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">
      <style>  
         .container {
            -webkit-perspective: 300; perspective: 300;
         }

         .logo {
             width:250px;
             margin-left: auto;
             margin-right: auto;
             display: block;
             padding: 15px;
         }

         .pflogo {
             width:50px;
             display: block;
             float: left;
             margin-left: 5px;
         }

         .row-centered {
            text-align:center;
         }

         .col-centered {
               display:inline-block;
               float:none;
               margin-right:-4px;
         }

        .vcenter {
              height: 60px;
              display: table-cell;
              vertical-align: bottom;
              float:none;
        }

      </style>

  </head>
  <body role="document">
      <div class="container">
  <div class="row">
      <section class="panel panel-default">
      <header class="panel-heading clearfix">
          <h3 id=devid class="panel-title pull-left" style="padding-top: 7.5px;">Device ID:&nbsp;&nbsp;<span id=devid_val></span></h3>
          <button class="btn btn-primary" style="float: right;" onclick="$('#settings').collapse('toggle')">Settings</button>
      </header>
      <div class="panel-body">
          <div id="settings" class="collapse">
                  <div class="form-group form-inline">
                      <label for="device_id_alias">Device ID:</label>
                      <div class="input-group">
                          <input type="text" id="device_id_alias" class="form-control" style="margin-left: 2px;">
                          <div class="input-group-btn">
                               <button class="btn btn-primary" onclick="setDevID()">Set</button>
                           </div>
                       </div>
                  </div>
                  <div class="form-group">
                      <label for="gps_enabled">GPS Status: </label>
                      <div class="btn-group" role="group">
                          <button id="GPSenable" type="button" class="btn btn-default" onclick="toggleGPS()">Enabled</button>
                          <button id="GPSdisable" type="button" class="btn btn-danger" onclick="toggleGPS()">Disabled</button>
                      </div>
                  </div>
          </div>
          <div class="row row-centered">
                  <div class="col-centered text-center col-xs-3 col-md-3">
                     <h4>Roll</h4>
                     <input class="form-control" type="text" name="TiltLR" id="TiltLR" />
                 </div>
                 <div class="col-centered text-center col-xs-3 col-md-3">
                     <h4>Pitch</h4>
                     <input class="form-control" type="text" name="TiltFB" id="TiltFB" />
                  </div>
                  <div class="col-centered text-center col-xs-3 col-md-3">
                      <h4>Yaw</h4>
                      <input class="form-control" type="text" name="Direction" id="Direction" />
                  </div>
          </div>
      </div>
      </section>
  </div>

  <div class="container" style="-webkit-perspective: 300; perspective: 300;">
    <img src="{{ url_for('static', filename='EMC-Logo.png') }}" id="imgLogo" class="logo">
  </div>

  <div class="container">
      <div class="row">
           <div class="col-xs-3 col-md-3 text-center">
               <img src="{{ url_for('static', filename='Pathfinder-Logo.png') }}" id="pfLogo" class="pflogo">
           </div>
      </div>
  </div>
  </div>
  <script type="text/javascript">
    var url = "/send";
    var dev_id;
    var GPS_enabled = 0;

    init();

    function guid() {
      function s4() {
         return Math.floor((1 + Math.random()) * 0x10000)
       .toString(16)
       .substring(1)
      }
      return s4() + '-' + s4()
    }

    function toggleGPS() {
        console.log(GPS_enabled);
        if (GPS_enabled == 0) {
            $("#GPSdisable").removeClass('btn-danger');
            $("#GPSdisable").addClass('btn-default');
            $("#GPSenable").addClass('btn-success');
            GPS_enabled = 1;
        } else {
            $("#GPSenable").removeClass('btn-success');
            $("#GPSenable").addClass('btn-default');
            $("#GPSdisable").addClass('btn-danger');
            GPS_enabled = 0;
        }
    }

    function setDevID() {
        var newID =  $("#device_id_alias").val();
        sanitized_ID = newID.replace(/ /gi,'_');
        $("#devid_val").text(sanitized_ID);
        console.log(newID + ":" + sanitized_ID);
        $("#device_id_alias").val("");
        dev_id = sanitized_ID;
    }

    function init() {
 
      dev_id = guid()
      $("#devid_val").text(dev_id)

      var os = "";
      var ua = navigator.userAgent;
      if ((ua.match(/iPad/i)) || (ua.match(/iPhone/i)) || (ua.match(/iPod/i))) {
          os = "iOS";
      } else if (ua.match(/Android/i)) {
          os = "Android";
      } else {
          os = "Unknown";
      }

      update_count = 0;
      if (window.DeviceOrientationEvent) {
        // Listen for the deviceorientation event and handle the raw data
        window.addEventListener('deviceorientation', function(eventData) {
          // gamma is the left-to-right tilt in degrees, where right is positive
          var tiltLR = eventData.gamma;
          
          // beta is the front-to-back tilt in degrees, where front is positive
          var tiltFB = eventData.beta;
          
          // alpha is the compass direction the device is facing in degrees
          var dir = eventData.alpha
          
          // call our orientation event handler
          deviceOrientationHandler(tiltLR, tiltFB, dir, dev_id, os);
          }, false);
      } else {
        document.getElementById("doEvent").innerHTML = "Not supported on your device or browser.  Sorry."
      }
    }
  
    function deviceOrientationHandler(tiltLR, tiltFB, dir, dev_id, os) {
      document.getElementById("TiltLR").value = Math.round(tiltLR);
      document.getElementById("TiltFB").value = Math.round(tiltFB);
      document.getElementById("Direction").value = Math.round(dir);
     
      var data = {UUID: dev_id, TiltLR: tiltLR, TiltFB: tiltFB, Direction: dir, OS: os};

      // Apply the transform to the image
      var logo = document.getElementById("imgLogo");
      logo.style.webkitTransform = "rotate("+ tiltLR +"deg) rotate3d(1,0,0, "+ (tiltFB*-1)+"deg)";
      logo.style.MozTransform = "rotate("+ tiltLR +"deg)";
      logo.style.transform = "rotate("+ tiltLR +"deg) rotate3d(1,0,0, "+ (tiltFB*-1)+"deg)";

      update_count++;
      if (update_count == 5) {
          // Send our data to the server and grab GPS if we're also sending that
          if (GPS_enabled == 1) {
              navigator.geolocation.getCurrentPosition(function(position) {
                      data["latitude"]=position.coords.latitude;
                      data["longitude"]=position.coords.longitude;
                      data["altitude"]=position.coords.altitude;
                      console.log(data);
                      });
          } 
          $.ajax({
              type: "POST",
              url: url,
              data: data,
              }); 
          update_count = 0;
      }
    }
    
  </script>
  

</body>
</html>
